<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
		lang="en">

<head th:replace="layout :: head"/>

<body>
	<header th:replace="layout :: header">
	</header>
	
	<div class="content">
		<h1>Project:</h1>
			
		<form action="#" th:action="@{/projects/join}" th:object="${joinProjectForm}" method="post">
		<table class="props">
			<caption>Join project:</caption>
			<tbody>
				<tr>
					<td><label>Key: <span class="error" th:if="${#fields.hasErrors('key')}">(invalid project key)</span></label></td>
					<td>
						<select th:field="*{key}" th:errorclass="error">
							<option th:each="project : ${allProjects}" th:value="${project.key}" th:text="${project.name}">PROJECT</option>
						</select>
					</td>					
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Join"/></td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
	
	<footer th:replace="layout :: footer">
	</footer>
</body>				
</html>
	